SECRET_KEY=secret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=event_management_system
DB_USER=user-name
DB_PASSWORD=db-password
DB_HOST=127.0.0.1
DB_PORT=5432

DJANGO_SETTINGS_MODULE=event_management_system.settings.development
